<div class="mt-4 bg-dark footer-content">
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <p class="title">
                    THÔNG TIN LIÊN HỆ
                </p>
                <p class="content">
                    <span>
                        Địa chỉ: 53 Lưu Nhân Chú, Phường 5, Quận Tân Bình
                    </span>
                    <br/>
                    <span>
                        Điện thoại: 070.779.1000
                    </span>
                    <br/>
                    <span>
                        Email: azhobbyad@gmail.com
                    </span>
                    <br/>                    
                    <span>
                        Giờ làm việc: từ T2-CN (09h-20h)            
                    </span>
                    <br/>                    
                    <span>
                        <a class="footer-link" href="https://www.google.com/maps/place/AZGundam+-+Gundam+ch%C3%ADnh+h%C3%A3ng+gi%C3%A1+t%E1%BB%91t+nh%E1%BA%A5t/@10.7908361,106.6633342,15z/data=!4m5!3m4!1s0x0:0x7c60b6f458c273d5!8m2!3d10.7908361!4d106.6633342?hl=vi-VN">
                            Đường đi đến shop
                        </a>
                    </span>
                </p>

            </div>

            <div class="col mt-4">
                <p class="title">
                    GUNDAM.COM.VN
                </p>
                <p class="content">
                    <a href="" class="footer-link">
                        Giới thiệu AZGundam
                    </a> 
                    </br>
                    <a href="" class="footer-link">
                        Điều khoản sử dụng
                    </a>
                    </br>
                    <a href="" class="footer-link">
                        Hướng dẫn đặt hàng
                    </a>
                    </br>
                    <a href="" class="footer-link">
                        Giao hàng - đổi hàng
                    </a>                    
                    </br>
                    <a href="" class="footer-link">
                        Phương thức thanh toán
                    </a>                    
                    </br>
                    <a href="" class="footer-link">
                        Chính sách bảo mật
                    </a>
                </p>

            </div>

            <div class="col mt-4">
                <p class="title">
                    LIÊN KẾT
                </p>
                <p class="content">
                    <a href="">
                        <img src="/img/footer.png" alt="">
                    </a>
                </p>

            </div>
            
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-8">
                <p> 
                    Mã số doanh nghiệp: 41N8042949 do 
                    Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 28-03-2019
                    Trụ sở chính: Số 53 Lưu Nhân Chú, Phường 05, 
                    Quận Tân Bình, Tp. Hồ Chí Minh
                    Copyright 2018 © AZGundam
                </p>
            </div>            
            <div class="col-lg-2 mb-2">
                <a href="http://online.gov.vn/Home/WebDetails/65642?AspxAutoDetectCookieSupport=1">
                    <img src="/img/alert.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>